body {
	background-color: black;
}

.main {
	font-family: "Poppins", sans-serif;
	background-color: white;
	text-align: center;
	padding: 25px;
	margin-top: 50px;
	margin-left: 35%;
	margin-right: 35%;
	border-radius: 15px;
	height: fit-content;
	width: 30%;
}

.canvas-container {
	margin: 0 auto;
}

.button {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	background-color: black;
	color: white;
	cursor: pointer;
	transition-duration: 0.4s;
	padding: 12.5px;
	margin-bottom: 30px;
	border-radius: 15px;
	border: 2px solid black;
	width: 140px;
}

.button:hover {
	background-color: white;
  	color: black;
	border: 2px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#sheet {
	background-color: black;
	border: 1px solid white;
}